	 <link rel="stylesheet" type="text/css" href="${css_folder}/style_eng.css" />
 	<div id="header">
		<div class="logo"><a href="index.html"><img src="${images_folder}/jpower-logo.jpg" width="164" /></a></div>    
  		<div class="langauge">
  	  		<div class="lang-inside"><a href="http://localhost:8080/web/guest/welcome?p_p_id=82&p_p_lifecycle=1&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_82_struts_action=%2Flanguage%2Fview&_82_redirect=%2F&languageId=en_US"><img src="${images_folder}/lang-07_01.jpg" height="25" id="Image7" onmouseover="MM_swapImage('Image7','','${images_folder}/lang-07-over_01.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>
  	  		<div class="lang-inside"><img src="${images_folder}/lang-07_02.jpg" alt="" height="25" /></div>
  	  		<div class="lang-inside"><a href="http://localhost:8080/web/guest/welcome?p_p_id=82&p_p_lifecycle=1&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_82_struts_action=%2Flanguage%2Fview&_82_redirect=%2F&languageId=zh_TW"><img src="${images_folder}/lang-07_03.jpg" alt="" height="25" id="Image8" onmouseover="MM_swapImage('Image8','','${images_folder}/lang-07-over_03.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></div>
    	</div>
  		<div class="menu">
  	  		<div class="menutab"><a href=""><img src="${images_folder}/menu-1_01.png" height="20" id="Image1" onmouseover="MM_swapImage('Image1','','${images_folder}/menu-2_01.png',1)" onmouseout="MM_swapImgRestore()" /></a></div>
  	  		<div class="menutab2"><a href=""><img src="${images_folder}/menu-1_02.png" height="20" id="Image2" onmouseover="MM_swapImage('Image2','','${images_folder}/menu-2_02.png',1)" onmouseout="MM_swapImgRestore()" /></a></div>
			 <div class="menutab3">
				<style type="text/css">
.tab{
font-family: arial, verdana, san-serif; 
font-size: 12px;
}
.asd
{
text-decoration: none;
font-family: arial, verdana, san-serif;
font-size: 12px; 
color:#bebebe;
}

/*****remove the list style****/
#nav {
margin:0; 
padding:0; 
list-style:none;
}	

/*****LI display inline *****/
#nav li {
float:left; 
display:block; 
width:120px;
background:#ffffff;
position:relative;
z-index:300; 
margin:0 1px;
}

/*****parent menu*****/
#nav li a {
display:block; 
padding:0px 0px 0px 0px; 
font-weight:1000; 
height:20px; 
text-decoration:none; 
color:#bebebe;
text-align:center; 
color:#333333;
}

#nav li a:hover 
{
color:#bebebe;
}

/* style for default selected value */ #nav a.selected {
color:#bebebe;
}
/* submenu */ #nav ul 
{
position:absolute; 
left:7px; 
display:none; 
margin:0 0 0 0px;
padding:0; 
list-style:none;
}

#nav ul li
{
width:140px; 
float:left; 
border-top:0px solid #fff;
}

/* display block will make the link fill the whole area of LI */ #nav ul a 
{
display:block; 
height:13px;
padding: 8px 1px; 
color:#333333
}

#nav ul a:hover 
{
text-decoration:underline;	
padding-left:0px;
font-size: 12px; 
}
</style>
		<script type="text/javascript" src="${javascript_folder}/jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {	
				$('#nav li').hover(
					function () {
					//show its submenu
						$('ul', this).slideDown(350);
					}, 
					function () {
					//hide its submenu
						$('ul', this).slideUp(350);	
					}
				);
			});
		</script>

		<ul id='nav'>
			<li> <a href='#'><img src="${images_folder}/menu-1_03.png" height="20" id="Image3" onmouseover="MM_swapImage('Image3','','${images_folder}/menu-2_03.png',1)" onmouseout="MM_swapImgRestore()" /></a>
				<ul>
					<li style='background-color:#ffffff;'><a href=collection.html>Collection</a></li>
					<li style='background-color:#ffffff;'><a href=project.html>Projects</a></li>
				</ul>
			</li>
		</ul>

		</div><!-- menutab3 -->
		<div class="menutab4">
			<style type="text/css">
.tab2{
font-family: arial, verdana, san-serif; 
font-size: 12px;
}
.asd2
{
text-decoration: none;
font-family: arial, verdana, san-serif;
font-size: 12px; 
color:#bebebe;
}

/*****remove the list style****/
#nav2 {
margin:0; 
padding:0; 
list-style:none;
}	

/*****LI display inline *****/
#nav2 li {
float:left; 
display:block; 
width:120px;
background:#ffffff;
position:relative;
z-index:300; 
margin:0 1px;
}

/*****parent menu*****/
#nav2 li a {
display:block; 
padding:0px 0px 0px 0px; 
font-weight:1000; 
height:20px; 
text-decoration:none; 
color:#bebebe;
text-align:center; 
color:#333333;
}

#nav2 li a:hover 
{
color:#bebebe;
}

/* style for default selected value */ #nav2 a.selected {
color:#bebebe;
}
/* submenu */ #nav2 ul 
{
position:absolute; 
left:7px; 
display:none; 
margin:0 0 0 0px;
padding:0; 
list-style:none;
}

#nav2 ul li
{
width:140px; 
float:left; 
border-top:0px solid #fff;
}

/* display block will make the link fill the whole area of LI */ #nav2 ul a 
{
display:block; 
height:13px;
padding: 8px 1px; 
color:#333333
}

#nav2 ul a:hover 
{
text-decoration:underline;	
padding-left:0px;
font-size: 12px; 
}
</style>
		<script type="text/javascript" src="${javascript_folder}/jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {	
				$('#nav2 li').hover(
					function () {
						//show its submenu
						$('ul', this).slideDown(350);
					}, 
					function () {
						//hide its submenu
						$('ul', this).slideUp(350);	
					}
				);
			});
		</script>

		<ul id='nav2'>
			<li> <a href='#'><img src="${images_folder}/menu-1_04.png" height="20" id="Image4" onmouseover="MM_swapImage('Image4','','${images_folder}/menu-2_04.png',1)" onmouseout="MM_swapImgRestore()" /></a>
				<ul>
					<li style='background-color:#ffffff;'><a href=collection2.html>Collection</a></li>
					<li style='background-color:#ffffff;'><a href=application.html>Application</a></li>
				</ul>
			</li>
			</ul>
		</div><!-- menutab 4 -->

		<div class="menutab5">

			<style type="text/css">
.tab3{
font-family: arial, verdana, san-serif; 
font-size: 12px;
}
.asd3
{
text-decoration: none;
font-family: arial, verdana, san-serif;
font-size: 12px; 
color:#bebebe;
}

/*****remove the list style****/
#nav3 {
margin:0; 
padding:0; 
list-style:none;
}	

/*****LI display inline *****/
#nav3 li {
float:left; 
display:block; 
width:120px;
background:#ffffff;
position:relative;
z-index:300; 
margin:0 1px;
}

/*****parent menu*****/
#nav3 li a {
display:block; 
padding:0px 0px 0px 0px; 
font-weight:1000; 
height:20px; 
text-decoration:none; 
color:#bebebe;
text-align:center; 
color:#333333;
}

#nav3 li a:hover 
{
color:#bebebe;
}

/* style for default selected value */ #nav3 a.selected {
color:#bebebe;
}
/* submenu */ #nav3 ul 
{
position:absolute; 
left:7px; 
display:none; 
margin:0 0 0 0px;
padding:0; 
list-style:none;
}

#nav3 ul li
{
width:117px; 
float:left; 
border-top:0px solid #fff;
}

/* display block will make the link fill the whole area of LI */ #nav3 ul a 
{
display:block; 
height:13px;
padding: 8px 1px; 
color:#333333
}

#nav3 ul a:hover 
{
text-decoration:underline;	
padding-left:0px;
font-size: 12px; 
}
</style>

		<script type="text/javascript" src="${javascript_folder}/jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {	
				$('#nav3 li').hover(
					function () {
					//show its submenu
						$('ul', this).slideDown(350);
					}, 
					function () {
					//hide its submenu
						$('ul', this).slideUp(350);	
					}
				);
			});
		</script>

		<ul id='nav3'>
			<li> <a href='#'><img src="${images_folder}/menu-1_05.jpg" height="20" id="Image5" onmouseover="MM_swapImage('Image5','','${images_folder}/menu-2_05.jpg',1)" onmouseout="MM_swapImgRestore()" /></a>
				<ul>
					<li style='background-color:#ffffff;'><a href="/web/guest/services">Services</a></li>
					<li style='background-color:#ffffff;'><a href="/web/guest/team">Team</a></li>
					<li style='background-color:#ffffff;'><a href="/web/guest/faq">FAQ</a></li>
				</ul>
			</li>
		</ul>
		</div><!-- menutab 5 -->
  	  <div class="menutab6"><a href='#'><img src="${images_folder}/menu-1_06.png" height="20" id="Image6" onmouseover="MM_swapImage('Image6','','${images_folder}/menu-2_06.png',1)" onmouseout="MM_swapImgRestore()" /></a>
		</div><!-- menutab 6 -->
		

   	</div> <!-- end of menu  -->
    </div>  <!-- end of header  -->
